.container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

h2 {
  border: none;
  border-radius: 3px;
  padding: 1rem;
  background: linear-gradient(pink, rgb(178, 178, 233));
  color: black;
}

.h2Container {
  display: flex;
}

.container button {
  margin-bottom: 2rem;
}

.deleteAllBUtton {
  text-align: center;
  margin-bottom: 5rem;
}

.redButton {
  background-color: red;
}

.redButton:hover {
  background-color: rgb(243, 44, 44);
}

@media (max-width: 830px) {
  .container {
    align-items: center;
  }

  .h2Container {
    margin-left: 3rem;
  }

  h2 {
    background: linear-gradient(pink, rgb(178, 178, 233));
  }
}

@media (max-width: 420px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .h2Container {
    margin-right: 3rem;
  }

  h2 {
    background: linear-gradient(pink, rgb(178, 178, 233));
  }
}
