* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 3;
}

html {
  width: 100%;
  height: 100%;
}


@media (max-width: 830px) {
  * {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 420px) {
  body {
    display: flex;
    flex-direction: column;
  }
}
