.formContainer {
  display: flex;
  justify-content: center;
  margin: 3rem 0 2rem;
}

form {
  box-shadow: 5px 5px 1px 0.5px rgba(150, 150, 150, 0.3);
  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
  width: 50%;
  background: linear-gradient(pink, rgb(178, 178, 233));
  padding: 1rem;
  border: none;
  border-radius: 7px;
}

input {
  background-color: rgb(177, 177, 246);
  border-radius: 3px;
  margin-left: 2rem;
  border: none;
  padding: 10px;
  margin-bottom: 3rem;
  margin-left: 5rem;
}

textarea {
  background-color: rgb(177, 177, 246);
  border-radius: 3px;
  margin-left: 2rem;
  border: none;
  padding: 10px;
}

.description {
  display: flex;
}

button {
  background-color: rgb(65, 65, 241);
  font-weight: bolder;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 0.5rem;
  margin: 1rem 0;
  margin-bottom: 1px;
}

button:hover {
  background-color: rgb(98, 98, 242);
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.terms {
  display: flex;
}

.check {
  margin: 10px 0 10px 2rem;
}

p {
  font-size: 12px;
}

@media (max-width: 830px) {
  .formContainer {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  form {
    width: 90%;
  }
}

@media (max-width: 420px) {
  .terms {
    margin-right: 4rem;
  }

  button {
    white-space: nowrap;
    font-size: 9px;
    
  }
}
