.task {
  background: linear-gradient(pink, rgb(178, 178, 233));
  padding: 1rem;
  width: 20%;
  border: none;
  border-radius: 7px;
  margin-bottom: 3rem;
  margin-left: 3rem;
  box-shadow: 8px 8px 2px 0.5px rgba(0, 0, 0, 0.4);
  height: auto;
  word-wrap: break-word;
}

.task button {
  background-color: rgb(65, 65, 241);
  font-weight: bolder;
  color: white;
}

button:hover {
  background-color: rgb(98, 98, 242);
}

img {
  width: 45px;
}

.pinContainer {
  display: flex;
  justify-content: end;
}

span {
  text-decoration: underline;
}

@media (max-width: 830px) {
  .task {
    width: 40%;
    height: 30%;
  }
}

@media (max-width: 420px) {
  .task {
    width: 90%;
    height: 90%;
    margin: 1rem 0 1rem 0;
  }
}
